a
{
  @apply  hover:text-gold
}
.button
{
  @apply  bg-gold hover:text-black font-bold
}
.icon
{
  @apply text-lg md:text-xl;
}
h2
{
  @apply font-bold uppercase text-lg md:text-2xl underline
}
h1
{
  @apply font-bold uppercase text-lg md:text-4xl text-center
}
.fa-icons
{
  @apply text-4xl text-center md:text-5xl
}
.skills-icons
{
  @apply text-4xl m-5 md:text-5xl
}
.skills-cols
{
  @apply flex flex-col justify-center items-center
}
.text-blue 
{
  color: #2965f1; 
}
.text-purple 
{
  color: #7952b3; 
}
.text-lightblue 
{
  color: #61dafb;
}
.text-php
{
  color: #AEB2D5;
}
.text-aws
{
  color: #FF9900;
}
.text-green
{
  color: #4db33d;
}